*{
    padding: 0;
    margin: 0;
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav_ul{
    display: flex;
    gap: 30px;
    font-size: 20px;
    
}

.nav_li{
    list-style: none;
    transition: color 2s;
   
}

.nav_li:hover{
    color:green;
    cursor: pointer;
    transition: color 1s ease;
   
}

.nav{
    padding: 8px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.btn{
    background: black;
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 8px; 
    font-size: larger; 
    
}

.btn:hover{
    background-color: green;
    transition: background-color .5s ease;

}


.toggle_btn{

    font-size: 50px;

}


@media (max-width:768px) {
    .navbar-elements{

        display:none;

    }

    .nav-btn{

        display: none;

    }


    .trust {

        display: block; /* Change flex to block on smaller screens */

    }

    .truth-part1, 
    .truth-part2 {

        width: 100%; /* Make both parts take 100% width */

    }

   


    
}

@media (min-width:1200px) {
.toggle{

    display: none;

}
}


/*   section  2  Hero-section */

.hero-section{

    background-image: url("../img/43733dfe08118f32bbcb51402b58ffa8-2-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 80%;

}

.hero1{

    padding: 90px 135px;
    font-size: 30px;
    text-align: center;

}
a{

    text-decoration: none;
    color: black;

}
.hero_button{

font-size: 40px;   
border: 2px solid black; 
padding: 12px 30px;
border-radius: 12px;
background-color: transparent;

}


.content{
   
    padding: 25px;
    margin: 30px;
    font-size: 25px;

}






/* section  4 */


.trust{
 
    display: flex;
    gap: 20px;

}

.truth_heading{

font-size: 65px;
font-weight: 300;

}



.truth-part1{

    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    height: 750px;
    
    }

.truth_heading{

    padding-top: 50px;
    padding-bottom: 20px;

}

.truth_image{

max-width: 80%;
height: 90%;

    
}


.truth-part2{

padding-left: 50px;
    width: 50%;
    
}




.truth_li{

    list-style-type: disc;
    font-size: 25px;
    line-height: 1.8;
    font-family: "Roboto", sans-serif;

}








/* Section 5  */

.services_block{
   
    display: flex;
    justify-content: space-between;
    width:70%;
    margin: 0 auto;

}


.services_part1{
   
width: 50%;


}



.services_heading{

font-size: 65px;
padding-bottom: 10px;
font-family: "Roboto", sans-serif;



}

.services_part2{
 
    width: 50%;
    text-align: center;    
    height: 750px;

}

.services_img{
    width: 592px;
    height: 729px;
    

}

.section_li{

    font-size: 29px;
    font-weight: 400;
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    
    
   
    
}




/* section 6 */

.why_choose_us{

    background-color: #F9FFF2;
    
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}


.section6_heading{
     padding-top: 20px;
    font-size: 65px;
    font-weight: 100;
    font-family: "Inter", sans-serif;

}

.item-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    
    
}

.item-2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.section6_para{

    font-size: 25px;
    width: 50%;
    text-align: center  ;
  
   
}

.item2_head{

    font-size: 24px;
    padding: 15px;

}

.item-1_img{

    width: 37%;
   
    border-radius: 40px;

}


.item2_paragraph{

    font-size: 20px;
    width: 60%;
    
}

.child{

    width: 45%;
    padding: 3px;
    margin: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    line-height: 30px;
    font-weight: 400;

}

.parent{
    display: flex;
    flex-wrap: wrap;
}


.section6{
    padding: 30px;

}




/* section 7 */



.main_7{
      
}


@keyframes slide_from_right{
    0%{
        transform: translateX(100%
        );
    }
    100%{
        transform: translateX(0%);
    }
}