*{
    font-family: "Inter",sans-serif;
    padding: 0;
    margin: 0;
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.nav_ul{
    display: flex;
    gap: 30px;
    font-size: 20px;
    
}

.nav_li{
    list-style: none;
    transition: color 2s;
   
}

.nav_li:hover{
    color:green;
    cursor: pointer;
    transition: color 1s ease;
   
}

.nav{
    padding: 8px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.btn{
    background: black;
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 8px; 
    font-size: larger; 
    
}

.btn:hover{
    background-color: green;
    transition: background-color .5s ease;

}


.toggle_btn{

    font-size: 50px;

}





/*   section  2  Hero-section */

.hero-section{

    background-image: url("../img/43733dfe08118f32bbcb51402b58ffa8-2-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 80%;

}

.hero1{
display: flex;
flex-direction: column;
font-size: 30px;
gap: 30px;
    /* padding: 90px 135px;
    font-size: 30px;
    text-align: center; */

}
a{

    text-decoration: none;
    color: black;

}
.hero_button{

font-size: 40px;   
padding: 12px 30px;
border-radius: 12px;
background-color: transparent;
margin: 0 auto;

}




/* Section3 */



.content{
    
    width:90%;
    margin:0 auto;

}
.p_content{
    
    
    padding: 20px 0px;
    margin: auto;
    font-size: 20px;
}







@media (max-width:768px) {




    /* Section2----Hero */
   
    
    .hero_heading{
        padding: 30px;
        font-size: 23px;
    
    }

    .hero_button {
        font-size: 27px;
        padding: 2px 20px;
        border-radius: 12px;}




/* Setion4 ----- Our Truth*/
.truth-part1,
.truth-part2{
    width:100% !important;
    font-size: 58px;
}

.truth_heading {
    font-size: 50px!important;
}




    /* Section5 ----- Our services*/
    .services_part1,
    .services_part2{
        width: 100%!important ;
    }

    .services_heading {
        font-size: 50px!important;
    margin: auto;
text-align: center;}


        .section_li {
            font-size: 17px !important;

            line-height: 1.3;
        }



/* Section6---Why ChooseUS */

.section6_heading{
    font-size: 45px!important;
}

.section6_para{  
      font-size: 14px !important;
    width: 100% !important;}

.item2_head {
        font-size: 18px!important;}

.item2_paragraph {
            font-size: 14px!important;}

.child {
        width: 100% !important;
        padding: 10px;}

.truth_image {
            width: 100% !important;
            margin: 0 auto;
            height: 100%;
        }

.truth_li {
           
            font-size: 18px!important;
            line-height: 1.20;
           
        }



    /* Section8--------Animation */

    .section7_part1 {
        width: 105%!important;
        font-size: 16px!important;}

        .section7_part2 {
            width: 100% !important;
            margin: auto !important;
            font-size: 13px !important  ;}



    /* Section9------------About */
    .section8_heading {
        padding: 0px;
        font-size: 18px !important;}


        .section8_para {
            font-size: 13px !important;
            font-family: "Inter", sans-serif;
            line-height: 1;}

            .section8_part1 {
                width: 100% !important;}
.section8_part2_img_parent{
    flex-wrap:wrap !important;
}
.img{
    width:100% !important;
}





/* Section10 */

.section9_heading {
    font-family: "Inter", sans-serif;
    font-size: 17px !important;
    width: 100%;
}




.section9_button {
    border-radius: 23px;
    font-size: 16px !important;
    padding: 9px 21px;
    margin: 0;

}




/* Section----Fotter */

.section10_div1_part1:nth-child(-n+3) {
    width: 100% !important; 
    border: none !important;
    
    
}


.part_section10_1 {
    flex-wrap: wrap;
}


.part_section10_2 {
    border-top: 1px solid gray;
    flex-wrap: wrap;
    
    border-bottom: 1px solid gray;
        
       
 
}

}


.truth_section{
    
padding: 10px;
}
.truth{
 
    display: flex;
    flex-wrap:wrap ;

}

.truth_heading{

font-size: 65px;
font-weight: 300;

}



.truth-part1{
    width: 50%;
    height: 100%;
    margin: auto;
   
    
    }

.truth_heading{
    padding-top: 50px;
    padding-bottom: 20px;
}

.truth_image{
    
width: 90%;
margin: 0 auto;
height: 100%;
}


.truth-part2{

width: 50%;

}




.truth_li{

    list-style-type: disc;
    font-size: 25px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;

}








/* Section 5  */

.services_block{
   
    display: flex;
    flex-wrap: wrap ;
    width:100%;
    margin: 0 auto;
   ;

}


.services_part1{
width: 50%;


}



.services_heading{

font-size: 65px;
padding-bottom: 10px;
font-family: "Roboto", sans-serif;



}

.services_part2{
 
    width: 50%;
    text-align: center;    
    height: 100%;
   
    margin: auto;

}

.services_img{
    width: 100%;
    

}

.section_li{

    font-size: 29px;
    font-weight: 400;
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    
    
   
    
}




/* section 6 */

.why_choose_us{

    background-color: #F9FFF2;
    
}



.section6_heading{
    text-align: center;
     padding-top: 20px;
    font-size: 65px;
    font-weight: 100;
    font-family: "Inter", sans-serif;

}




.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
    
   
}



.child{
    width: 45%;
    padding-top: 30px; 
    
    font-family: "Inter", sans-serif;
    line-height: 30px;
    
    font-weight: 400;
  

}


.item-1{
    
    margin: 0 auto;
    width: 100%;    
    text-align: center;
}

.item-2{
    
        margin: 0 auto;
    width: 100%;    
    text-align: center;
}


.item-1_img{
   
    
    border-radius: 40px;

}



.section6_para{

    font-size: 25px;
    width: 64%;
    margin: auto;
    
  
   
}

.item2_head{

    font-size: 24px;
    padding: 15px;

}

.item2_paragraph{

    font-size: 20px;
    
    
}



.section6{
    padding: 30px;

}




/* section 7 */



.section7{
      background-color: black;
      color: aliceblue;
      overflow: hidden;
}


.main_7{
 
    width:95%;
    margin: 0 auto;
    padding: 50px 20px;
    animation: slide_from_right 1s ease-in;
    /* overflow: hidden; */
}

.section7_heading_parent{
width:100%;
margin: 15 auto;

}

.section7_part1{
    width: 88%;
    margin: 15 auto;
    
    font-size: 46px;
    font-family: "Inter", sans-serif;
    text-align: justify;
   
   
}


.section7_part2{
  
    width: 85%;
    margin: 15 auto;
    font-size: 30px;
    text-align: justify;
    padding: 10px;
   
}





.section7_part3{

    width:89%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding: 10px;
    
   
}


.name_emp{
    font-size: 24px;
}

.position_name1{
    font-size: 30px;
    float: left;
}

.position_name2{
    font-size: 30px;
    float: right;
}







/* ============================================================= */

/* Section8 */

.section8_main{
    padding: 15px;
    
}


.section8_part1{
   
    width: 80%;
    margin: 0 auto;
    padding: 50px;
   
    text-align: center;
}


.section8_heading{
padding: 5px;
font-family: "Inter", sans-serif;
font-size: 75px;
}


.section8_para{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    line-height: 1.2;
    
}


.section8_part2{
   
    margin: 0 auto;
    
 
    
}
.section8_part2_img_parent{
    display: flex;
    justify-content: space-between;
    
}

.img{
    
    width:23%;
    gap: 4px;

}

.img_des{
    text-align: center;
}


.name{
    font-size: 24px;
    font-family: "Inter",sans-serif;
}
.position{
    font-size: 20px;
    font-family: "Inter",sans-serif;
}

.img_section8{
    width: 100%;
    border-radius: 12px;
}

@keyframes slide_from_right{
    0%{
        transform: translateX(100%
        );
    }
    100%{
        transform: translateX(0%);
    }
}






/* ==============================================
Section9 */


.section9{
    background-color: black;
    color: #F9FFF2;
    padding: 50px;
}

.section9_parent{
    text-align: center;
}

.heading_section9{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.section9_heading{
    font-family: "Inter",sans-serif;
    font-size: 64px;
    width: 70%;
    margin: 30 auto;
}


.section9_button{
    border: 1px solid white;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px 35px;
    background: #000;
    color: #F9FFF2;
    margin: 15px 0;
}






/* 
===================================
Section10 */

.section10{
    font-size: 30px;
}


.part_section10_1{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0px;
}

.section10_div1_part1:nth-child(-n+3){
    width: 34%;
    border-right: 1px solid gray;
    
}


.section10_div1_part1{
    padding: 20px;
}

.part_section10_2{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}



.ol_1_li{
    list-style: none;
    
    }


.ol_2_li{
list-style: none;
}



.section10_part3{
    text-align: center;
    padding: 10px 0px;
}